body{
    margin: 0px;
}
/* Body header */
#body-header{
    background-image:url(static/back-img);
    height: 65vh;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 1.2rem;
}
/* Horizontal lists */
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    /* font-size: 20px; */
    font-family: Arial, Helvetica, sans-serif;
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 1.2rem;
}

.horizontal-list li a {
    text-decoration: none;
    color: white;
    
}
 .nav-menu li a{
    transition: color 0.5s; border-bottom: 4s;
 }

.nav-menu li a:hover{
    color: lightgray;
    border-bottom: 2px white solid;
}
.text-center{
    text-align: center;
}

/* Name and social icons */

#name-social-container{
    margin-top: 20vh;
}
#my-name{
    font-size: 3.5rem;
    color: white;
    letter-spacing: 0.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

}

.social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n){
    background-color: #9e9b9b29;

}

section:nth-child(2n+1){
    background-color: white;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding: 2px;
    margin-right: 0.5rem;

}
.mb75px{
    margin-bottom: 75px;
}

/* About section */
#about{
    height: auto;
    width: 100%;
    position: relative;

}


#my-image{
    height: 14rem;
    width: 14rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgray;
}

#about-para{
    padding: 10px;
    width: 70%;
    height: 100%;
    margin:auto;
    margin-top: 10vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* skills*/
.skill-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill-progress{
    width: 7rem;
    height 1.4rem;
    border-radius:0.8rem;
    background-color: lightgray;

}
.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}

.eighty-five-percet{
    width: 85%;
    height: inherit;
    
}
.mb-blue{
    background-color: #2857a4;

}
.skill-name span{
    color: white;
    margin-left: 10px;
    font-size: 1.2rem;
}